ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgba(0,0,0,0.7);
  height: 5vw;
  z-index: 99;
}
li {
  float: left;
margin-left: 5vw;
}
li:last-child {
  border-right: none;
}
li a {
  display: block;
  color: white;
  text-align: center;
  padding: 25px;
  text-decoration: none;
}
li a:not(.about):hover{
  background-color: #111;
  text-decoration: none;
}
.about{
  float: right;
  background-color: indianred;
}
.active{
  font-size: 2vw;
  padding: 13px;
}
.cont{
  width: 50%;
}
