

.navLogo{

height:6vw ;
}
.teacherBackround{
background-Position: center;
background-size: cover;
background-Repeat: no-repeat;
background-image: url('./img/students3.jpg');
}
.studentBackround{
background-image:url('./img/students4.jpg');
background-Position: center;
background-size: cover;
background-Repeat: no-repeat;
}
.opacity{
background-color: rgba(230, 255, 255, 0.5);



}

li {
  float: left;
margin-left: 5vw;

}

li:last-child {
  border-right: none;
}

li a {
  display: block;
  color: white;
  text-align: center;
padding: 25px;
  text-decoration: none;
}
.about{
  float: right;
  background-color: indianred;

}
.active{
  font-size: 2vw;
  padding: 13px;
}
.cont{
  width: 50%;
}
