.add_class_section{
position: absolute;
width: 900px;
right: 500px;
background: rgb(0,0,0,0.8);
left:26vw;
height: 550px;
-webkit-animation-name: animatetop;
-webkit-animation-duration: 0.4s;
animation-name: animatetop;
animation-duration: 0.5s;
align-items: center;
text-align: center;

}

.close_add_class{
	color:white;
	position: absolute;
	right: 3px;
	font-size: 30px;
cursor: pointer;

}

@-webkit-keyframes animatetop {
  from {top:-250px; opacity:0}
  to {top:150px; opacity:1}
}

@keyframes animatetop {
  from {top:-250px; opacity:0}
  to {top:150px; opacity:1}
}
body{

	background-repeat: no-repeat;
	background-size: cover;
}
.name_class_input, .name_Teacher_input{
	background: rgb(0,0,0,0.4);
	height: 3vw;
	width: 70%;
	color:darkgray;
	font-size: 1.7vw;

}
.className_label{

	color:slategray;
	font-size: 2vw;
	font-family: 'Mali', cursive;;
}
.submit_addClass_button{
width: 15vw;
background:#610828;
border-color:none;
margin-bottom: 2vw;
color:gray;

}
.add_pargraph{
	color:red;
	font-size: 5vw;
}
.paragraph{
	font-size: 2vw;
	color:white;
	cursor: pointer;
	box-shadow: 1px 1px 1px 1px gray;
	text-align: center;
	background: rgba(0,0,0,0.6);
	margin-bottom: 2vw;
}
.paragraph:hover{

	transition: 0.4s;
	opacity: 1;
}
.create_new_class{
	font-size: 2vw;
	word-spacing: 1vw;
	color:green;
	margin-top: 1vw;
	width: 100%;
	background: slategray;
}
.content_section{
	height: auto;
	width: 25vw;
	background: rgba(0,0,0,0.5);
}
